<div class="tw-mb-8 tw-text-center">
    <h1 class="tw-text-3xl tw-font-bold tw-text-bgSTC">
        UI Components
    </h1>
</div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="1">
    <mat-tab label="Tables">
        <app-tables></app-tables>
    </mat-tab>
    <mat-tab label="Forms">
        <app-forms></app-forms>
    </mat-tab>
    <mat-tab label="buttons">
        <app-buttons></app-buttons>
    </mat-tab>
    <mat-tab label="Corporate Gov Docs"></mat-tab>
</mat-tab-group>