@font-face {
  font-family: "stc-font-icons";
  src: url("../fonts/icon-fonts/stc-font-icons.eot?5kmp7v");
  src: url("../fonts/icon-fonts/stc-font-icons.eot?5kmp7v#iefix")
      format("embedded-opentype"),
    url("../fonts/icon-fonts/stc-font-icons.ttf?5kmp7v") format("truetype"),
    url("../fonts/icon-fonts/stc-font-icons.woff?5kmp7v") format("woff"),
    url("../fonts/icon-fonts/stc-font-icons.svg?5kmp7v#stc-font-icons")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sfi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "stc-font-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.sfi-export:before {
  content: "\e900";
}
.sfi-export-1:before {
  content: "\e901";
}
.sfi-hourglass_empty:before {
  content: "\e902";
}
.sfi-hourglass_full:before {
  content: "\e903";
}
.sfi-local_mall:before {
  content: "\e904";
}
.sfi-visibility:before {
  content: "\e905";
}
.sfi-file-document:before {
  content: "\e906";
}
.sfi-minus:before {
  content: "\e907";
}
.sfi-cols:before {
  content: "\e908";
}
.sfi-cart:before {
  content: "\e909";
}
.sfi-plus:before {
  content: "\e90a";
}
.sfi-arrow-up:before {
  content: "\e90b";
}
.sfi-rows:before {
  content: "\e90c";
}
.sfi-arrow-down:before {
  content: "\e90d";
}
.sfi-arrow-right:before {
  content: "\e90e";
}
.sfi-users:before {
  content: "\e90f";
}
.sfi-home:before {
  content: "\e910";
}
.sfi-calendar:before {
  content: "\e911";
}
.sfi-calender-n:before {
  content: "\e912";
}
.sfi-search-I:before {
  content: "\e913";
}
.sfi-alarm:before {
  content: "\e914";
}
.sfi-delete:before {
  content: "\e915";
}
.sfi-menu-s:before {
  content: "\e916";
}
.sfi-check-s:before {
  content: "\e917";
}
.sfi-mins-c:before {
  content: "\e918";
}
.sfi-users-2:before {
  content: "\e919";
}
.sfi-note-check:before {
  content: "\e91a";
}
.sfi-folder:before {
  content: "\e91b";
}
.sfi-note-check1:before {
  content: "\e91c";
}
.sfi-uniE91B:before {
  content: "\e91d";
}
.sfi-uniE91C:before {
  content: "\e91e";
}
.sfi-uniE91D:before {
  content: "\e91f";
}
.sfi-uniE91E:before {
  content: "\e920";
}
.sfi-envelope:before {
  content: "\e921";
}
.sfi-user:before {
  content: "\e922";
}
.sfi-Path-9564-1:before {
  content: "\e923";
}
.sfi-balance:before {
  content: "\e924";
}
.sfi-hand:before {
  content: "\e925";
}
.sfi-public:before {
  content: "\e926";
}
.sfi-settings:before {
  content: "\e927";
}
.sfi-note-o:before {
  content: "\e928";
}
.sfi-upload:before {
  content: "\e929";
}
.sfi-bookmark-o:before {
  content: "\e92a";
}
.sfi-filter-icon:before {
  content: "\e92b";
}
.sfi-bag-f:before {
  content: "\e935";
}
.sfi-pdf:before {
  content: "\e942";
}
.sfi-trash:before {
  content: "\e948";
}
.sfi-url-o:before {
  content: "\e94c";
}
.sfi-pen-f:before {
  content: "\e952";
}
.sfi-upload-to-cloud:before {
  content: "\e96a";
}
.sfi-calendar-o:before {
  content: "\e999";
}
.sfi-file-o:before {
  content: "\e9a0";
}
.sfi-star-o:before {
  content: "\e9a7";
}
.sfi-star-f:before {
  content: "\e9a8";
}
.sfi-dots:before {
  content: "\e9e3";
}
.sfi-history1:before {
  content: "\e9e9";
}
.sfi-pen:before {
  content: "\e9eb";
}
.sfi-card:before {
  content: "\e9f1";
}
.sfi-gift:before {
  content: "\e9f2";
}
.sfi-folder1:before {
  content: "\e9f3";
}
.sfi-search:before {
  content: "\e9f4";
}
.sfi-cloud-computing:before {
  content: "\e9f5";
}
