<div class="tw-py-4"></div>
<!-- table-1 -->
<div>
    <div class="flex-heading">
        <h2 class="mb-0 tw-mb-2 tw-text-xl tw-px-3 tw-font-bold">Clause Library</h2>
        <button (click)="onAddNewClause()" mat-flat-button
            class="tw-w-auto tw-font-normal tw-leading-normal tw-bg-coral tw-h-[50px] tw-px-6">
            <div class="tw-text-white tw-capitalize tw-text-base tw-block tw-space-x-2">
                <i class="sfi sfi-plus tw-text-xs"></i>
                <span class="tw-capitalize"> add new </span>
            </div>
        </button>
    </div>

    <div class="tw-overflow-x-auto tw-px-3 tw-pt-3">
        <section class=" tw-w-full tw-shadow-xlShadow tw-mb-6 tw-p-4 tw-bg-white">
            <header class="flex-c-b tw-mb-2 tw-bg-white tw-text-">
                <div class="tw-table-cell tw-text-[#949494] tw-text-sm tw-px-4">
                    Clause Name
                </div>
                <div class="tw-table-cell tw-text-[#949494] tw-text-sm tw-px-4">
                    Clause Type
                </div>
                <div class="tw-table-cell tw-text-[#949494] tw-text-sm tw-px-4">
                    Version
                </div>
                <div class="tw-table-cell tw-text-[#949494] tw-text-sm tw-px-4">
                    Created by
                </div>
                <div class="tw-table-cell tw-text-[#949494] tw-text-sm tw-px-4">
                    Creation Date
                </div>
                <div class="tw-table-cell tw-text-[#949494] tw-text-sm tw-px-4">
                    Status
                </div>
                <div class="tw-table-cell tw-text-[#949494] tw-text-sm tw-px-4">
                    Actions
                </div>
            </header>
            <div class="tw-py-2.5"></div>

            <!-- content -->
            <ng-container *ngIf="clausesList?.length">
                <div *ngFor="let clause of clausesList; let i = index"
                    class="flex-c-b tw-bg-white tw-w-full tw-rounded tw-mb-3 tw-outline tw-outline-1 tw-outline-gray-200">
                    <div class="tw-table-cell tw-py-2 tw-align-middle tw-px-4">
                        <div class="flex-s tw-gap-2.5">
                            <!-- <span class="sfi sfi-file-o tw-text-lg tw-text-gray-400"></span> -->
                            <span>{{i+1}}- </span>
                            <span
                                class="tw-text-sm tw-font-medium tw-text-textsColorPurple tw-truncate tw-max-w-[140px] tw-min-w-[140px]">{{clause?.titleEN}}</span>
                        </div>
                    </div>

                    <div class="tw-table-cell tw-py-2 tw-align-middle tw-px-4 tw-truncate tw-min-w-[140px]">
                        <span class="tw-text-sm">{{clause?.type}}</span>
                    </div>
                    <div class="tw-table-cell tw-py-2 tw-align-middle tw-px-4">
                        <span class="tw-text-sm">{{clause?.version}}</span>
                    </div>
                    <div class="tw-table-cell tw-py-2 tw-align-middle tw-px-4">
                        <div class="tw-capitalize tw-text-xs flex-c tw-space-x-2">
                            <img src="../../../assets/images/user.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                            <div>
                                <span
                                    class="tw-block tw-text-sm tw-truncate tw-max-w-[150px]">{{clause?.creator?.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tw-table-cell tw-py-2 tw-align-middle tw-px-4">
                        <span class="tw-text-sm">{{clause?.creationDate}}</span>
                    </div>
                    <div class="tw-table-cell tw-py-2 tw-align-middle tw-px-4">
                        <div
                            class="tw-rounded-sm tw-w-[92px] tw-px-2 tw-px-2 tw-text-[#00849F] tw-bg-[#C9EAF1] tw-py-1 status-{{clause?.status}}">
                            <span class="tw-block tw-text-sm tw-font-medium tw-text-center">{{clause?.status}}</span>
                        </div>
                    </div>
                    <div class="tw-table-cell tw-py-2 tw-align-middle tw-px-4 tw-text-center">
                        <div>
                            <button [matMenuTriggerFor]="menu" mat-button class="tw-min-w-0">
                                <span class="sfi sfi-dots tw-text-lg tw-text-gray-500"></span>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="onEditClause(clause)" mat-menu-item>Edit</button>
                                <button (click)="onDeleteClause(clause)" mat-menu-item>Delete</button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <div class="tw-py-2"></div>
            </ng-container>
            <div *ngIf="!clausesList?.length" class="tw-text-center">
                <h4>
                    No Data Found..
                </h4>
            </div>
        </section>
    </div>
</div>