<div class="tw-bg-white tw-rounded tw-px-3 tw-py-3 lg:tw-px-6 lg:tw-py-3 tw-mt-3">
  <mat-expansion-panel (opened)="panelOpenState = true">
    <mat-expansion-panel-header>
      <mat-panel-title class="tw-font-bold">
        Group Highlights
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- content -->
    <div class="tw-grid tw-grid-cols-3 tw-gap-6">
      <div class="tw-col-span-3 lg:tw-col-span-2">
        <div class="tw-bg-white tw-rounded">
          <div class="flex-box tw-space-x-0 lg:tw-space-x-5 tw-mb-6 tw-flex-col md:tw-flex-row">
            <div class="flex-c-c tw-border tw-border-gray-100 tw-w-20 tw-h-20 tw-rounded-full tw-bg-gray-50">
              <span class="sfi sfi-gift text-color-black tw-text-3xl"></span>
            </div>
            <div class="tw-flex-1 tw-mt-0">
              <div class="flex-c-b tw-my-3 md:tw-my-0">
                <h2 class="tw-text-base tw-font-medium tw-mb-1">Ui/UX
                  Team</h2>
                <span class="tw-text-sm flex-box">
                  <mat-icon class="tw-text-lg tw-h-7 tw-text-gray-600">public
                  </mat-icon><span class="tw-text-greenStc">Public</span>
                </span>
              </div>
              <p class="tw-text-xs tw-mb-0 tw-mt-2">Write here details about the group
                text for
                example here Write here details about the text for example here write
                here details about the group.</p>
            </div>
          </div>
          <div class="flex-s md:flex-c-b tw-flex-col md:tw-flex-row">
            <div class="flex-boxtw-space-x-6 rtl:tw-space-x-reverse">
              <span class="tw-text-xs">Business:</span>
              <div class="tw-bg-gray-100 tw-rounded tw-px-3 tw-py-2">
                <span class="tw-text-xs tw-text-bgSTC tw-font-medium">Investment</span>
              </div>
            </div>
            <div class="tw-w-full md:tw-w-auto tw-mt-3 md:tw-mt-0 ">
              <button mat-flat-button
                class="tw-w-full md:tw-w-auto tw-rounded tw-font-normal tw-leading-normal tw-bg-coral tw-py-2 tw-shadow-lg tw-shadow-coral/50">
                <span class="tw-text-white tw-capitalize tw-space-x-2 rtl:tw-space-x-reverse">
                  <span class="sfi sfi-pen-f tw-text-white tw-text-sm"></span>
                  <span>Edit</span>
                </span>
              </button>
            </div>
          </div>
          <!-- border-line -->
          <div class="tw-h-px tw-bg-gray-100 tw-w-full tw-my-4 lg:tw-my-8"></div>

          <div
            class="flex-c-b tw-space-x-0 md:tw-space-x-5 tw-flex-col md:tw-flex-row tw-my-2 md:tw-my-5 tw-space-y-3 md:tw-space-y-0">
            <div
              class="tw-space-x-4 flex-box tw-bg-gray-50 tw-border tw-border-gray-100 tw-flex-1 tw-p-4 tw-w-full md:tw-w-auto ">
              <div>
                <img src="../../../../../assets/images/ic-1.svg" alt="">
              </div>
              <div class="flex-s tw-flex-col tw-mb-3 md:tw-mb-0">
                <strong class="tw-text-xl tw-text-gray-800">985</strong>
                <span class="tw-text-sm tw-text-gray-500">Event</span>
              </div>
            </div>
            <div
              class="tw-space-x-4 flex-box tw-bg-gray-50 tw-border tw-border-gray-100 tw-flex-1 tw-p-4 tw-w-full md:tw-w-auto ">
              <div>
                <img src="../../../../../assets/images/ic-2.svg" alt="">
              </div>
              <div class="flex-s tw-flex-col tw-mb-3 md:tw-mb-0">
                <strong class="tw-text-xl tw-text-gray-800">32.5</strong>
                <span class="tw-text-sm tw-text-gray-500">Files</span>
              </div>
            </div>
            <div
              class="tw-space-x-4 flex-box tw-bg-gray-50 tw-border tw-border-gray-100 tw-flex-1 tw-p-4 tw-w-full md:tw-w-auto ">
              <div>
                <img src="../../../../../assets/images/ic-3.svg" alt="">
              </div>
              <div class="flex-s tw-flex-col tw-mb-3 md:tw-mb-0 tw-flex-1">
                <div class="flex-c-b tw-w-full">
                  <strong class="tw-text-xl tw-text-gray-800">67</strong>
                  <div class="flex-box tw-space-x-1 tw-font-medium">
                    <mat-icon class="tw-text-sm tw-text-greenStc tw-w-3">
                      arrow_upward</mat-icon>
                    <span class="tw-text-xs tw-text-greenStc">10.2%</span>
                  </div>
                </div>
                <span class="tw-text-sm tw-text-gray-500">Members</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tw-col-span-3 lg:tw-col-span-1">
        <div class="tw-bg-white tw-rounded tw-mt-2">

          <div class="tw-bg-gray-50 tw-p-4 tw-pb-0 tw-rounded">
            <h2 class="tw-text-base tw-text-gray-700 tw-mb-3 tw-font-medium">Owner &
              Co-Owners</h2>
            <div class="flex-box tw-space-x-2 rtl:tw-space-x-reverse tw-border-b tw-border-gray-100 tw-pb-3 tw-mb-3">
              <div>
                <img src="../../../assets/images/img-u-1.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
              </div>
              <div class="tw-flex-1">
                <h4 class="tw-text-sm tw-mb-0 tw-text-black">
                  Nour Elsharkawy Nour Elsharkawy Elsharkawy
                </h4>
              </div>
            </div>
            <h2 class="tw-text-base tw-text-gray-700 tw-mb-3 tw-font-medium">Co-Owners</h2>
            <div class="tw-border-b tw-border-gray-100 tw-pb-3 tw-mb-3">
              <div class="flex-box tw-space-x-1 rtl:tw-space-x-reverse">
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-1.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-2.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-1.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-2.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-1.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab
                  class="tw-flex tw-items-center tw-justify-center tw-bg-bgSTC tw-w-7 tw-h-7 tw-rounded-full tw-shadow-none">
                  <span class="tw-text-xs tw-text-white"> +7</span>
                </button>
              </div>
            </div>
            <h2 class="tw-text-base tw-text-gray-700 tw-mb-3 tw-font-medium">Members</h2>
            <div class="tw-pb-3">
              <div class="flex-box tw-space-x-1 rtl:tw-space-x-reverse">
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-1.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-2.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-1.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-2.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab matTooltip="Full name write here "
                  class="none-shadow tw-flex tw-items-center tw-justify-center tw-bg-transparent tw-w-7 tw-h-7 tw-rounded-full">
                  <img src="../../../assets/images/img-u-1.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
                </button>
                <button mat-fab
                  class="tw-flex tw-items-center tw-justify-center tw-bg-bgSTC tw-w-7 tw-h-7 tw-rounded-full tw-shadow-none">
                  <span class="tw-text-xs tw-text-white"> +7</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<div class="tw-bg-white tw-p-5 tw-mt-5">

  <div class="tw-col-span-3 lg:tw-col-span-2">
    <div class="tw-bg-white tw-rounded">
      <!-- sort-by -->
      <div class="tw-grid tw-grid-cols-3 tw-gap-5 tw-items-center">
        <div class="tw-col-span-3 lg:tw-col-span-1">
          <h2 class="tw-text-lg tw-mb-0">Discussion Board</h2>
        </div>
        <div class="tw-col-span-3 lg:tw-col-span-2">
          <div
            class="flex-s md:flex-c-e tw-space-x-0 sm:tw-space-x-4 rtl:sm:tw-space-x-reverse tw-space-y-3 sm:tw-space-y-0 tw-flex-col sm:tw-flex-row">
            <div>
              <span class="tw-text-xs">Sort by:</span>
            </div>
            <div class="tw-w-full sm:tw-w-auto">
              <mat-form-field appearance="outline">
                <mat-select placeholder="All Categories">
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <!-- create new post -->
      <div class="tw-bg-gray-50 tw-border tw-border-gray-100 tw-rounded tw-p-3 tw-my-5">
        <button class="flex-box tw-space-x-3 rtl:tw-space-x-reverse">
          <div class="flex-c-c tw-border-dashed tw-border-gray-300 tw-border-2 tw-w-14 tw-h-14 tw-rounded">
            <span class="sfi sfi-plus tw-text-gray-400 tw-text-xl"></span>
          </div>
          <div>
            <span class="tw-text-base tw-text-gray-400">Create new post</span>
          </div>
        </button>
      </div>
      <!-- post -->
      <div class="tw-border tw-border-gray-100 tw-py-5 tw-px-3 tw-rounded tw-mb-4">
        <div class="flex-c-b">
          <div class="flex-box tw-space-x-3 rtl:tw-space-x-reverse">
            <div>
              <img src="../../../assets/images/user.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
            </div>
            <div class="flex-box tw-space-x-3 rtl:tw-space-x-reverse">
              <h4 class="tw-text-sm tw-mb-0 tw-text-bgSTC tw-truncate tw-w-20 sm:tw-w-24 md:tw-w-auto">
                Nour Elsharkawy
              </h4>
              <span class="tw-text-xs tw-text-gray-600">. 20m</span>
            </div>
          </div>
          <div>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
        <div class="tw-mt-4">
          <p class="tw-text-sm tw-mb-0 tw-text-black">
            The STC Hub app was awarded the Best Enterprise Solution of the Year! proud to
            be part of this product team and look forward to achieving more.
          </p>
        </div>
      </div>
      <div class="tw-border tw-border-gray-100 tw-py-5 tw-px-3 tw-rounded tw-mb-4">
        <div class="flex-c-b">
          <div class="flex-box tw-space-x-3 rtl:tw-space-x-reverse">
            <div>
              <img src="../../../assets/images/user.png" class="tw-w-7 tw-h-7 tw-rounded-full" alt="">
            </div>
            <div class="flex-box tw-space-x-3 rtl:tw-space-x-reverse">
              <h4 class="tw-text-sm tw-mb-0 tw-text-bgSTC tw-truncate tw-w-20 sm:tw-w-24 md:tw-w-auto">
                Nour Elsharkawy
              </h4>
              <span class="tw-text-xs tw-text-gray-600">. 20m</span>
            </div>
          </div>
          <div>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
        <div class="tw-mt-4">
          <p class="tw-text-sm tw-text-black tw-mb-6">
            The STC Hub app was awarded the Best Enterprise Solution of the Year! proud to
            be part of this product team and look forward to achieving more.
          </p>
          <!-- attachment -->
          <div
            class="tw-bg-gray-50 flex-s md:flex-box tw-space-x-0 md:tw-space-x-4 tw-p-4 tw-mb-6 tw-flex-col sm:tw-flex-row">
            <h3 class="tw-text-sm tw-mb-0"> <span>2</span> Attachments</h3>
            <div class="flex-c-b tw-border-b tw-border-gray-100 tw-space-x-3 md:tw-space-x-5">
              <div class="flex-box">
                <div class="tw-rounded tw-w-auto md:tw-w-10 tw-h-10 flex-c-c tw-bg-gray-50">
                  <img src="assets/images/doc.png" alt="">
                </div>
                <div>
                  <p class="tw-text-sm tw-font-medium tw-truncate tw-w-24 tw-mb-0">
                    Investment-in people.Doc
                  </p>
                </div>
              </div>
              <div class="flex-box tw-space-x-2 rtl:tw-space-x-reverse">
                <div class="tw-bg-green-50 flex-c-c tw-rounded">
                  <span class="sfi sfi-share-up tw-text-greenStc tw-text-base">
                  </span>
                </div>
                <span class="tw-text-xs tw-text-gray-600 tw-mt-1">25 kb</span>
              </div>
            </div>
            <div class="flex-c-b tw-border-b tw-border-gray-100 tw-space-x-3 md:tw-space-x-5">
              <div class="flex-box">
                <div class="tw-rounded tw-w-auto md:tw-w-10 tw-h-10 flex-c-c tw-bg-gray-50">
                  <img src="assets/images/doc.png" alt="">
                </div>
                <div>
                  <p class="tw-text-sm tw-font-medium tw-truncate tw-w-24 tw-mb-0">
                    Investment-in people.Doc
                  </p>
                </div>
              </div>
              <div class="flex-box tw-space-x-2 rtl:tw-space-x-reverse">
                <div class="tw-bg-green-50 flex-c-c tw-rounded">
                  <span class="sfi sfi-share-up tw-text-greenStc tw-text-base">
                  </span>
                </div>
                <span class="tw-text-xs tw-text-gray-600 tw-mt-1">25 kb</span>
              </div>
            </div>
          </div>
          <img src="../../../../../assets/images/post-1.png" alt="">
        </div>
      </div>
    </div>
  </div>
    <!-- accordion -->
    <div>
      <mat-accordion>
        <mat-expansion-panel class="tw-mb-2">
          <mat-expansion-panel-header class="tw-bg-gray-50 tw-px-6 tw-py-4" >
            <div (click)="$event.stopPropagation();" class="flex-c-b tw-w-full">
              <mat-panel-title class="tw-text-lg tw-text-gray-600 tw-font-normal">
                Example of a question The question is displayed heresdf
              </mat-panel-title>
              <!-- actions -->
              <div class="flex-box tw-gap-2 tw-mx-5">
                <div>
                  <button mat-button class="tw-min-w-16 tw-h-8 tw-leading-8 tw-rounded-none tw-p-0 tw-bg-bgSTC/25"><span
                      class="sfi sfi-note-check1 tw-text-sm tw-text-bgSTC -tw-mt-0.5 tw-inline-block"></span>
                  </button>
                </div>
                <div>
                  <button mat-button class="tw-min-w-16 tw-h-8 tw-leading-8 tw-rounded-none tw-p-0 tw-bg-coral/25">
                    <span class="sfi sfi-delete tw-text-sm tw-text-coral -tw-mt-0.5 tw-inline-block"></span>
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="tw-bg-gray-50 tw-px-6 tw-pb-4">
            <p class="tw-text-base tw-text-gray-400">
              The answer to the question is an example of how the answer to the question is displayed hereexample of how
              the answer to the question is displayed here
            </p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="tw-mb-2">
          <mat-expansion-panel-header class="tw-bg-gray-50 tw-px-6 tw-py-4">
            <mat-panel-title class="tw-text-lg tw-text-gray-600 tw-font-normal ">
              Example of a question The question is displayed here
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="tw-bg-gray-50 tw-px-6 tw-pb-4">
            <p class="tw-text-base tw-text-gray-400">
              The answer to the question is an example of how the answer to the question is displayed hereexample of how
              the answer to the question is displayed here
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>

