<div class="tw-mt-6">
  <h1 class="tw-text-4xl tw-text-textsColorPurple tw-font-bold tw-mb-6">Compliance portal</h1>
  <div class="hero tw-relative tw-mb-8 lg:tw-mb-20">
    <img src="../../assets/images/DSCF2059.png" class="tw-rounded-md tw-h-64 tw-w-[95%] tw-ml-auto tw-hidden lg:tw-block" alt="">
    <div class="tw-bg-coral tw-p-8 tw-static tw-top-[60px] tw-max-w-none lg:tw-max-w-[500px] tw-rounded-r-md lg:tw-absolute">
      <p class="tw-text-white tw-text-sm">Distinctio ut ut. Fugit tempora nihil et possimus quasi eligendi commodi
        fugit. Natus omnis quisquam dolorem sequi sit molestias.</p>
    </div>
  </div>
  <div class="tw-block md:tw-flex  tw-gap-10 tw-space-y-4 md:tw-space-y-0">
    <div class="flex-s-b tw-h-64 tw-flex-col tw-rounded-md tw-border-2 tw-border-textsColorPurple tw-p-6 tw-flex-1 tw-bg-[#4F008C0D]">
      <span class="sfi sfi-gift tw-text-4xl tw-text-right tw-text-textsColorPurple"></span>
      <h2 class="tw-text-2xl tw-mb-0 tw-text-textsColorPurple">Compliance Centre of Excellence</h2>
    </div>
    <div class="flex-s-b tw-h-64 tw-flex-col tw-rounded-md tw-border-2 tw-border-coral tw-p-6 tw-flex-1 tw-bg-[#FF375E0D] ">
      <span class="sfi sfi-gift tw-text-4xl tw-text-right tw-text-coral"></span>
      <h2 class="tw-text-2xl tw-mb-0 tw-text-coral">Compliance Centre of Excellence</h2>
    </div>
  </div>
</div>