<div class="tw-py-4"></div>
<div class="tw-bg-white tw-p-5 tw-border tw-border-gray-200 ">
  <div class="flex-box tw-gap-4">

    <button mat-flat-button class="tw-w-auto tw-font-normal tw-leading-normal tw-bg-coral tw-h-[50px] tw-px-6">
      <div class="tw-text-white tw-capitalize tw-text-base tw-block tw-space-x-2">
        <i class="sfi sfi-plus tw-text-xs"></i>
        <span class="tw-capitalize"> add new </span>
      </div>
    </button>

    <button mat-flat-button class="tw-w-auto tw-font-normal tw-leading-normal tw-bg-coral tw-h-[50px] tw-px-6">
      <div class="tw-text-white tw-capitalize tw-text-base tw-block tw-space-x-2">
        <span class="tw-capitalize">next</span>
        <i class="sfi sfi-arrow-right tw-text-microXs"></i>
      </div>
    </button>

    <button mat-flat-button class="tw-w-auto tw-font-normal tw-leading-normal tw-bg-gray-100 tw-h-[50px] tw-px-6">
      <div class="tw-text-gray-600 tw-capitalize tw-text-base tw-block tw-space-x-2">
        <span class="tw-capitalize">filter</span>
        <i class="sfi sfi-filter-icon"></i>
      </div>
    </button>

    <button mat-flat-button class="tw-w-auto tw-font-normal tw-leading-normal tw-bg-[#07B180] tw-h-[50px] tw-px-6">
      <div class="tw-text-white tw-capitalize tw-text-base tw-block tw-space-x-2">
        <i class="sfi sfi-export"></i>
        <span class="tw-capitalize">export</span>
      </div>
    </button>

    <button mat-flat-button class="tw-w-auto tw-font-normal tw-leading-normal tw-bg-bgSTC tw-h-[50px] tw-px-6">
      <div class="tw-text-white tw-capitalize tw-text-base tw-block tw-space-x-2">
        <i class="sfi sfi-export-1"></i>
        <span class="tw-capitalize">import</span>
      </div>
    </button>

    <div class="flex-c-e tw-gap-2 md:tw-flex-2 tw-hidden md:tw-flex">
      <button mat-flat-button class="tw-bg-emerald-100 tw-w-10 tw-h-10 tw-min-w-0 tw-px-0">
        <span class="tw-text-emerald-500 tw-text-sm tw-block tw-py-px">
          <i class="sfi sfi-pen"></i>
        </span>
      </button>
      <button mat-flat-button class="tw-bg-white tw-w-10 tw-h-10 tw-min-w-0 tw-px-0">
        <span class="tw-text-gray-600 tw-text-sm tw-block tw-py-px">
          <i class="sfi sfi-url-o"></i>
        </span>
      </button>
      <button mat-flat-button class="tw-bg-coral tw-w-10 tw-h-10 tw-min-w-0 tw-px-0">
        <span class="tw-text-white tw-text-sm tw-block tw-py-px">
          <i class="sfi sfi-pen"></i>
        </span>
      </button>
      <button mat-flat-button
        class="tw-w-auto tw-min-w-0 tw-font-normal tw-leading-normal tw-bg-coral tw-py-0.5 tw-px-[10px] tw-min-h-0">
        <span class="tw-text-white tw-capitalize tw-text-sm tw-block tw-py-px"><i class="sfi sfi-trash tw-text-xs"></i>
        </span>
      </button>
    </div>
  </div>

  <div class="flex-box tw-gap-4">
    <button mat-flat-button class="tw-w-auto tw-font-normal tw-leading-normal tw-bg-bgSTC tw-py-1.5 tw-px-4">
      <span class="tw-text-white tw-capitalize tw-text-xs flex-box tw-gap-1 tw-py-px"><i
          class="sfi sfi-visibility tw-text-xs"></i> view </span>
    </button>

    <button mat-flat-button
      class="tw-w-auto tw-font-normal tw-leading-normal tw-bg-transparent tw-border tw-border-solid tw-border-transparent tw-py-1.5 tw-px-4">
      <span class="tw-text-gray-500 tw-capitalize tw-text-sm tw-block tw-py-1">Cancel</span>
    </button>
  </div>

  <div class="actions flex-c-e tw-gap-5 tw-w-full">
    <button mat-stroked-button
      class="tw-leading-[3] tw-rounded-sm tw-border-coral tw-text-coral tw-w-40 tw-h-12">Reset</button>
    <button mat-raised-button
      class="tw-leading-[3.2] tw-rounded-sm tw-shadow-none tw-bg-coral tw-text-white tw-w-40 tw-h-12">Filter</button>
  </div>


  <div class="flex-c-b tw-mt-4 tw-flex-wrap md:tw-flex-nowrap tw-flex-col-reverse md:tw-flex-row">
    <div>
      <button mat-flat-button
        class="tw-w-auto tw-rounded-none tw-font-normal tw-leading-normal tw-bg-transparent tw-border-2 tw-border-solid tw-border-cyan-400 tw-py-2.5 tw-px-8 tw-min-h-[50px]">
        <span class="tw-text-cyan-400 tw-capitalize tw-text-sm tw-block tw-py-px">Save as draft</span>
      </button>
    </div>
    <div class="flex-c tw-gap-2 tw-mb-3 md:tw-mb-0">
      <button mat-flat-button
        class="tw-w-auto tw-rounded-none tw-font-normal tw-leading-normal tw-bg-transparent tw-border-2 tw-border-solid tw-border-coral tw-py-2.5 tw-px-8 tw-min-h-[50px]">
        <span class="tw-text-coral tw-capitalize tw-text-sm tw-block tw-py-px">Discard</span>
      </button>
      <button mat-flat-button
        class="tw-w-auto tw-rounded-none tw-font-normal tw-leading-normal tw-bg-[#8E9AA0] tw-py-2.5 tw-px-8 tw-min-h-[50px] tw-border-2 tw-border-solid tw-border-transparent">
        <span class="tw-text-white tw-capitalize tw-text-sm tw-block tw-py-px">submit</span>
      </button>
    </div>
  </div>
</div>