<div class="tw-grid tw-grid-cols-3 tw-gap-5 tw-mt-5">
  <div class="tw-col-span-3 md:tw-col-span-2">
    <div class="tw-bg-white tw-rounded tw-p-3 lg:tw-p-6">
      <div class="tw-mb-3">
        <h2 class="tw-text-lg tw-font-bold tw-mb-4 tw-text-black">
          Top Upcoming Events
        </h2>
        <span class="tw-text-base tw-font-bold tw-block tw-text-black tw-mb-2">Today's <span
            class="tw-text-coral">#thisisstc</span> features
          Partner of choice</span>
        <p class="tw-text-sm">
          Saad Alburnus, a spirited employee with tremendous drive, and
          <br />
          an excellent embodiment of stc
        </p>
      </div>
      <!-- img-event -->
      <div>
        <div>
          <img src="../../../assets/images/img-1.png" class="tw-w-100" alt="" />
        </div>
        <div class="flex-c-c tw-space-x-0 sm:tw-space-x-5 tw-mt-4 sm:tw-mt-99 tw-flex-col sm:tw-flex-row">
          <!-- <div class="bg-image"></div> -->
          <div
            class="custom-box flex-c-r tw-h-16 tw-w-auto sm:tw-w-96 tw-mb-3 sm:tw-mb-0 tw-space-x-4 sm:tw-space-x-0 tw-px-4 sm:tw-px-0">
            <div class="flex-box tw-flex-col">
              <strong class="tw-text-base tw-mb-1">02</strong>
              <span class="tw-text-xs tw-uppercase">days</span>
            </div>
            <div class="flex-box tw-flex-col">
              <strong class="tw-text-base tw-mb-1">10</strong>
              <span class="tw-text-xs tw-uppercase">hours</span>
            </div>
            <div class="flex-box tw-flex-col">
              <strong class="tw-text-base tw-mb-1">29</strong>
              <span class="tw-text-xs tw-uppercase">min</span>
            </div>
            <div class="flex-box tw-flex-col">
              <strong class="tw-text-base tw-mb-1">02</strong>
              <span class="tw-text-xs tw-uppercase">sec</span>
            </div>
          </div>
          <!-- btn -->
          <div>
            <button mat-flat-button class="tw-w-auto tw-rounded tw-font-normal tw-leading-normal tw-bg-coral tw-py-3">
              <span class="tw-text-white tw-capitalize">view details</span>
            </button>
          </div>
        </div>
      </div>

      <!-- border-line -->
      <div class="tw-h-px tw-bg-gray-200 tw-w-full tw-my-4 lg:tw-my-8"></div>

      <!-- Latest News -->
      <div class="flex-c-b tw-mb-2">
        <h2 class="tw-text-lg tw-font-bold">Latest News</h2>
        <button mat-button class="tw-text-coral tw-text-sm tw-py-3">
          See More
        </button>
      </div>


      <div class="tw-grid tw-grid-cols-4 tw-gap-5">
        <div class="tw-col-span-2 md:tw-col-span-2">
          <div class="tw-border tw-bg-white tw-col-span-2 md:tw-col-span-1 tw-rounded tw-p-4">
            <div>
              <h2 class="tw-text-base tw-font-bold tw-mb-2 tw-text-black">
                Top Upcoming Events
              </h2>
              <p class="tw-text-sm line-clamp-2 tw-mb-3">
                Saad Alburnus, a spirited employee with tremendous drive,
                and <br />
                an excellent embodiment of stc
              </p>
            </div>
            <div class="tw-mb-4">
              <img src="../../../assets/images/img-1.png" class="tw-w-100" alt="" />
            </div>
            <!-- date-info -->
            <div class="flex-c-b tw-mb-5">
              <div class="tw-bg-gray-100 tw-rounded tw-px-3 tw-py-2">
                <span class="tw-text-xs tw-text-bgSTC">4 Hour</span>
              </div>
              <div>
                <span class="tw-text-sm">23 Dec 2021</span>
              </div>
            </div>
            <div class="flex-s md:flex-c-b tw-flex-col md:tw-flex-row tw-items-start md:tw-items-center">
              <div class="flex-s tw-flex-col tw-mb-3 md:tw-mb-0">
                <strong class="tw-text-base tw-mb-1 tw-text-bgSTC">29</strong>
                <span class="tw-text-xs tw-uppercase tw-text-gray-500">Participants</span>
              </div>
              <button mat-flat-button
                class="tw-w-auto tw-rounded tw-font-normal tw-leading-normal tw-bg-coral tw-py-2 tw-px-5">
                <span class="tw-text-white tw-capitalize tw-text-xs">view details</span>
              </button>
            </div>
          </div>
        </div>
        <div class="tw-col-span-2 md:tw-col-span-2">
          <div class="tw-border tw-p-4 tw-rounded">
            <div class="tw-mb-4">
              <img src="../../../assets/images/img-2.png" class="tw-w-100" alt="" />
              <!-- label -->
              <div
                class="tw-bg-gray-600 tw-text-xs tw-capitalize tw-px-3 tw-py-2 tw-w-fit tw-text-white tw-rounded tw-z-10 tw-relative tw-ml-5 tw-mt-44">
                TECH NEWS
              </div>
            </div>
            <h3 class="tw-text-base tw-mb-5 tw-font-medium">
              STC text for example here Please replace the text
            </h3>
            <div class="flex-c-b tw-mb-5">
              <div class="tw-bg-gray-100 tw-rounded tw-px-3 tw-py-2">
                <span class="tw-text-xs tw-text-bgSTC">6 Min Read</span>
              </div>
              <div class="tw-bg-gray-100 tw-rounded tw-px-3 tw-py-2">
                <span class="sfi sfi-bookmark-o tw-text-gray-700 tw-text-sm"></span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tw-col-span-2 sm:tw-col-span-2 tw-border tw-border-gray-100 tw-rounded tw-p-4 tw-relative tw-mb-0 sm:tw-mb-8 tw-mt-5">
          <div
            class="flex-c-c tw-border tw-border-gray-100 tw-w-16 tw-h-16 tw-rounded tw-mx-auto tw-mt-0 lg:tw-mt-13 tw-bg-white">
            <span class="sfi sfi-settings tw-text-black tw-text-2xl"></span>
          </div>
          <!-- status -->
          <div
            class="tw-text-xs tw-text-center tw-static sm:tw-absolute tw-left-0 tw-top-0 tw-mt-3 tw-my-0 sm:tw-my-4 tw-text-greenStc tw-px-4">
            Active
          </div>
          <h2 class="tw-text-lg tw-font-bold tw-mb-1 tw-mt-4 lg:tw-mt-4">
            Ui/UX Team
          </h2>
          <p class="tw-text-sm tw-mb-0 line-clamp-2">
            Write here details about the group text for example here...
          </p>
          <div class="flex-s tw-space-x-3 rtl:tw-space-x-reverse tw-my-4">
            <div>
              <img src="../../../assets/images/profile-v.png"
                class="tw-w-10 tw-h-10 tw-rounded-full tw-border tw-border-gray-200" alt="" />
            </div>
            <div>
              <h4 class="tw-text-sm tw-mb-0 tw-text-bgSTC">
                Nour Elsharkawy
              </h4>
              <span class="tw-text-xs tw-text-gray-600">Owner</span>
            </div>
          </div>
          <div class="flex-s md:flex-c-b tw-mt-6 tw-flex-col md:tw-flex-row">
            <div class="tw-bg-gray-100 tw-rounded tw-px-3 tw-py-2 tw-mb-2 md:tw-mb-0">
              <span class="tw-block tw-text-xs tw-text-bgSTC tw-font-medium">Technology</span>
            </div>
            <div>
              <span class="tw-text-sm flex-box tw-space-x-1.5">
                <span class="sfi sfi-settings tw-text-gray-700 tw-text-base"></span>
                <span class="tw-text-greenStc">Public</span>
              </span>
            </div>
          </div>
        </div>
        <div class="tw-col-span-2">
          <div class="tw-border tw-border-gray-100 tw-rounded tw-p-4">
            <div class="tw-relative">
              <img src="../../../assets/images/logo-1.png" class="tw-rounded tw-object-cover tw-mx-auto" alt="" />
              <div
                class="tw-text-xs tw-text-coral tw-bg-white tw-rounded-md tw-p-3 tw-absolute tw-top-0 ltr:tw-right-0 rtl:tw-left-0 tw-m-3">
                Unsubscribe
              </div>
            </div>
            <div class="tw-mt-5">
              <h3 class="tw-text-lg tw-mb-1">Marketing Example</h3>
              <p class="tw-text-sm tw-mb-0 line-clamp-2">
                Write here details about the group text for example here...
              </p>
              <div class="tw-mt-4 flex-c-b">
                <span class="tw-text-sm flex-box tw-space-x-1.5">
                  <span class="sfi sfi-settings tw-text-gray-700 tw-text-base"></span>
                  <span class="tw-text-greenStc">Public</span>
                </span>
                <div class="flex-s tw-space-x-3">
                  <div>
                    <img src="../../../assets/images/profile-v.png"
                      class="tw-w-10 tw-h-10 tw-rounded-full tw-border tw-border-gray-200" alt="" />
                  </div>
                  <div>
                    <h4 class="tw-text-sm tw-mb-0 tw-text-bgSTC">
                      Nour Elsharkawy
                    </h4>
                    <span class="tw-text-xs tw-text-gray-600">Owner</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- cart -->
        <div class="tw-col-span-2 md:tw-col-span-2 tw-bg-white tw-p-5 tw-rounded tw-mb-4 tw-border tw-border-gray-100">
          <div class="flex-c-b">
            <span class="tw-text-sm tw-text-gray-500">1993020100088</span>
            <mat-checkbox></mat-checkbox>
          </div>
          <div class="tw-mt-4 tw-h-12">
            <h2 class="tw-text-lg tw-font-medium line-clamp-2">Electronic Voucher 100 SR</h2>
          </div>
          <div class="tw-border-t tw-border-gray-100 tw-mt-3 tw-pt-3 flex-c-b">
            <div>
              <span class="tw-text-xs tw-font-medium">Price/Each</span>
              <div class="flex-box tw-gap-1">
                <strong class="tw-text-lg tw-font-bold">100</strong>
                <span class="tw-text-sm tw-text-gray-400">SAR</span>
              </div>
            </div>
            <div>
              <span class="tw-text-xs tw-font-medium">Price/Each</span>
              <div class="flex-box tw-gap-1">
                <strong class="tw-text-lg tw-font-bold">100</strong>
                <span class="tw-text-sm tw-text-gray-400">SAR</span>
              </div>
            </div>
          </div>
          <div class="tw-mt-3">
            <h4 class="tw-text-xs tw-mb-2 tw-font-medium">Quantity</h4>
            <!-- plus-mins -->
            <div class="flex-box tw-relative tw-w-full">
              <div class="tw-absolute tw-left-0 tw-ml-1">
                <button class="tw-bg-white tw-rounded tw-px-2">
                  <span class="sfi sfi-minus tw-text-microXs"></span>
                </button>
              </div>
              <div class="tw-bg-gray-100/70 tw-rounded tw-py-px tw-border tw-border-gray-200/60 tw-w-full">
                <input type="text"
                  class="tw-bg-gray-100/70 tw-w-full tw-py-1 tw-rounded tw-px-6 tw-text-center tw-font-bold">
              </div>
              <div class="tw-absolute tw-right-0 tw-mr-2">
                <button class="tw-bg-white tw-rounded tw-px-2">
                  <span class="sfi sfi-plus tw-text-microXs"></span>
                </button>
              </div>
            </div>
            <!-- actions -->
            <footer class="flex-box tw-gap-0.5 tw-mt-4">
              <div>
                <button mat-flat-button class="tw-bg-bgSTC tw-text-white tw-leading-8 tw-px-2">
                  <span class="sfi sfi-cart tw-text-xs"></span>
                  <span class="tw-mx-1"></span>
                  <span class="tw-text-xs tw-inline-block">Add to Cart</span>
                </button>
              </div>
              <div>
                <button mat-flat-button class="tw-bg-transparent tw-text-bgSTC/70 tw-text-white tw-leading-8 tw-px-2">
                  <span class="sfi sfi-plus tw-text-microXs"></span>
                  <span class="tw-mx-1"></span>
                  <span class="tw-text-xs tw-inline-block">Add to List</span>
                </button>
              </div>
            </footer>
          </div>
        </div>
      </div>



    </div>
  </div>
  <div class="tw-col-span-3 md:tw-col-span-1">
    <!-- card-1 -->
    <div class="tw-bg-white tw-rounded tw-p-3 lg:tw-p-6">
      <!-- profile -->
      <div class="tw-mb-8">
        <div class="tw-mb-3.5">
          <img src="../../../assets/images/profile-v.png" class="tw-w-20 tw-h-20 tw-rounded-full tw-m-auto" alt="" />
        </div>
        <div class="tw-text-center">
          <h2 class="tw-text-sm tw-mb-1 tw-font-bold">Emad Adel Arafa</h2>
          <span class="tw-text-xs tw-text-gray-500">Corporate Affair & Admin Applications</span>
        </div>
      </div>
      <!-- list -->
      <div class="">
        <div class="flex-c-b tw-mb-3 tw-pb-3 tw-border-b tw-border-gray-100">
          <span class="tw-text-base">My Events</span>
          <div class="tw-bg-lightPurple tw-rounded tw-px-3 tw-py-2">
            <span class="tw-text-lg tw-text-bgSTC tw-font-semibold">04</span>
          </div>
        </div>
        <div class="flex-c-b tw-mb-3 tw-pb-3 tw-border-b tw-border-gray-100">
          <span class="tw-text-base">My Calendar</span>
          <div class="tw-bg-green-50 tw-rounded tw-px-3 tw-py-2">
            <span class="tw-text-lg tw-text-bgSTC tw-font-semibold">05</span>
          </div>
        </div>
        <div class="flex-c-b tw-mb-3 tw-pb-3 tw-border-b tw-border-gray-100">
          <span class="tw-text-base">My Communities</span>
          <div class="tw-bg-blue-50 tw-rounded tw-px-3 tw-py-2">
            <span class="tw-text-lg tw-text-bgSTC tw-font-semibold">06</span>
          </div>
        </div>
        <div class="flex-c-b tw-mb-3 tw-pb-3 tw-border-b tw-border-gray-100">
          <span class="tw-text-base">My Notifications</span>
          <div class="tw-bg-yellow-50 tw-rounded tw-px-3 tw-py-2">
            <span class="tw-text-lg tw-text-bgSTC tw-font-semibold">07</span>
          </div>
        </div>
        <div class="flex-c-b tw-mb-3 tw-pb-3 tw-border-b tw-border-gray-100">
          <span class="tw-text-base">My Files</span>
          <div class="tw-bg-gray-50 tw-rounded tw-px-3 tw-py-2">
            <span class="tw-text-lg tw-text-bgSTC tw-font-semibold">08</span>
          </div>
        </div>
        <button mat-flat-button
          class="tw-w-full tw-rounded tw-font-normal tw-leading-normal tw-bg-coral tw-py-3 tw-mt-6">
          <span class="tw-text-white tw-capitalize tw-text-base">my profile</span>
        </button>
      </div>
    </div>
    <!-- my-invitations -->
    <div class="tw-bg-white tw-rounded tw-p-3 lg:tw-p-6 tw-mt-6">
      <div class="flex-c-b tw-mb-6">
        <h2 class="tw-text-lg tw-font-bold">My Invitations</h2>
        <div>
          <span class="sfi sfi-mail-o tw-text-gray-700 tw-text-lg"></span>
        </div>
      </div>
      <div>
        <div class="tw-mb-4 tw-pb-4 tw-border-b tw-border-gray-100">
          <div class="flex-box tw-space-x-3 rtl:tw-space-x-reverse">
            <div>
              <img src="../../../assets/images/hp-toptile.png" class="tw-w-14 tw-h-14 tw-rounded-md" alt="" />
            </div>
            <div>
              <h4 class="tw-text-sm tw-mb-1">
                text here for example please replace it
              </h4>
              <span class="tw-text-xs">23 Dec 2021</span>
            </div>
          </div>
          <div class="flex-c-c tw-space-x-5 tw-mt-3">
            <button mat-flat-button
              class="tw-flex-1 tw-w-auto tw-rounded tw-font-normal tw-leading-normal tw-bg-greenStc tw-py-2">
              <span class="tw-text-white tw-capitalize tw-block tw-py-px">accept</span>
            </button>
            <button mat-stroked-button
              class="tw-flex-1 tw-w-auto tw-rounded tw-font-normal tw-leading-normal tw-bg-white tw-border-coral tw-border tw-py-2">
              <span class="tw-text-coral tw-capitalize">reject</span>
            </button>
          </div>
        </div>
        <div class="tw-mb-4 tw-pb-4 tw-border-b tw-border-gray-100">
          <div class="flex-box tw-space-x-3 rtl:tw-space-x-reverse">
            <div>
              <img src="../../../assets/images/hp-toptile.png" class="tw-w-14 tw-h-14 tw-rounded-md" alt="" />
            </div>
            <div>
              <h4 class="tw-text-sm tw-mb-1">
                text here for example please replace it
              </h4>
              <span class="tw-text-xs">23 Dec 2021</span>
            </div>
          </div>
          <div class="flex-box tw-space-x-5 tw-mt-3">
            <button mat-flat-button
              class="tw-flex-1 tw-w-auto tw-rounded tw-font-normal tw-leading-normal tw-bg-greenStc tw-py-2">
              <span class="tw-text-white tw-capitalize tw-block tw-py-px">accept</span>
            </button>
            <button mat-stroked-button
              class="tw-flex-1 tw-w-auto tw-rounded tw-font-normal tw-leading-normal tw-bg-white tw-border-coral tw-border tw-py-2">
              <span class="tw-text-coral tw-capitalize">reject</span>
            </button>
          </div>
        </div>
        <button mat-flat-button class="tw-w-full tw-rounded tw-font-normal tw-leading-normal tw-bg-bgSTC tw-py-3">
          <span class="tw-text-white tw-capitalize tw-text-base">view all</span>
        </button>
      </div>
    </div>
    <!-- my community -->
    <div class="tw-bg-white tw-rounded tw-p-3 lg:tw-p-6 tw-mt-6">
      <div class="flex-c-b tw-mb-6">
        <h2 class="tw-text-lg tw-font-bold">My Community</h2>
        <div>
          <span class="sfi sfi-users-1 tw-text-gray-700 tw-text-lg"></span>
        </div>
      </div>
      <div class="tw-mb-6">
        <img src="../../../assets/images/img-3.png" class="tw-mb-3 tw-m-auto tw-w-14" alt="" />
        <p class="tw-text-sm tw-mb-0 tw-text-center">
          You don't belong to any community
        </p>
      </div>
      <button mat-flat-button class="tw-w-full tw-rounded tw-font-normal tw-leading-normal tw-bg-bgSTC tw-py-3">
        <span class="tw-text-white tw-capitalize tw-text-base">Discover now</span>
      </button>
    </div>
    <!-- latest group -->
    <div class="tw-bg-white tw-rounded tw-p-3 lg:tw-p-6 tw-mt-6">
      <div class="flex-c-b tw-mb-6">
        <h2 class="tw-text-lg tw-font-bold">Latest Groups</h2>
        <div>
          <span class="sfi sfi-users tw-text-gray-700 tw-text-lg"></span>
        </div>
      </div>
      <div>
        <div
          class="flex-c-b tw-mb-2 tw-pb-2 tw-border-b tw-border-gray-100 tw-flex-col lg:tw-flex-row tw-items-start lg:tw-items-center">
          <div>
            <h4 class="tw-text-base">Design Thinking</h4>
            <span class="tw-text-xs tw-text-gray-600">18 Project</span>
          </div>
          <div>
            <span class="tw-text-xs tw-text-gray-600">250 Member</span>
          </div>
        </div>
        <div
          class="flex-c-b tw-mb-2 tw-pb-2 tw-border-b tw-border-gray-100 tw-flex-col lg:tw-flex-row tw-items-start lg:tw-items-center">
          <div>
            <h4 class="tw-text-base">Market Research</h4>
            <span class="tw-text-xs tw-text-gray-600">18 Project</span>
          </div>
          <div>
            <span class="tw-text-xs tw-text-gray-600">250 Member</span>
          </div>
        </div>
        <div
          class="flex-c-b tw-mb-2 tw-pb-2 tw-border-b tw-border-gray-100 tw-flex-col lg:tw-flex-row tw-items-start lg:tw-items-center">
          <div>
            <h4 class="tw-text-base">UX Process Example</h4>
            <span class="tw-text-xs tw-text-gray-600">18 Project</span>
          </div>
          <div>
            <span class="tw-text-xs tw-text-gray-600">250 Member</span>
          </div>
        </div>
        <button mat-flat-button
          class="tw-w-full tw-rounded tw-font-normal tw-leading-normal tw-bg-bgSTC tw-py-3 tw-mt-8">
          <span class="tw-text-white tw-capitalize tw-text-base">Discover All</span>
        </button>
      </div>
    </div>
  </div>
</div>